@keyframes typing {
  from {
  	width: 0;
  }
  to {
  	width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
  	border-color: transparent;
  }
  50% {
  	border-color: var(--contrast);
  }
}


:root{
	--red: #C96567;
	--black: #314455;
	--background: #B64856;
	--contrast: #5A87BE;
	--accentred: #755b6b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: var(--background);
}

.bg{
	background-color: var(--accentred);
}

.logo{
	left: 50px;
}

.navbar{
	padding: 3;
	font-family: 'Montserrat', sans-serif;
}

.navbar-toggler:focus{
	box-shadow: none;
}

.nav-item a{
	color: var(--black);
	font-weight: 600;
	text-decoration: none;
	transition: 0.4s;
	padding: 8px 16px;
	border-radius: 99px;
}

.nav-item a.is-active, .nav-item a:hover{
	background-color: white;
}

.intro-text{
	font-family: 'Bebas Neue', cursive;	
	
	background-color: var(--red);
	
	width: 90%;
	padding: 30px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.intro-text h1{
	color: black;
	font-size: 100px;
}

.intro-text span{
	color: var(--black);
	font-size: 60px;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .07em solid var(--contrast); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--accentred);
	height: auto;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
}

.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	color: var(--red);
}

.footer-content p{
	max-width: 80%;
	margin: 10px auto;
	font-size: 14px;
}

.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	/*margin: 1rem 0 3rem 0;*/

}

.socials li{
	margin: 0 10px;
}

.socials a{
	text-decoration: none;
	color: var(--red);
}

.socials a i{
	font-size: 1.1rem;
}

.socials a:hover i{
	font-size: 1.3rem;
	transition: .4s ease;
}

@media(max-width:768px){
	.ul-bg{
		background-color: #fad978;
	}
}
